<h1>about</h1>
{{!-- Card taken from getBootStrap ::: https://getbootstrap.com/docs/5.1/components/card/ --}}

<br>

<div class="card mb-12" style="max-width: 90%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://cdn2.vectorstock.com/i/1000x1000/20/61/man-programer-sit-chair-work-on-computer-create-vector-35182061.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><center>About Me </center> </h5>
        <p class="card-text">I have dedicated my life to learning what makes humans tick.
           Studies, researches, and reads everything I can and shares my findings with my clients.
            my philosophy is to learn, test, analyze, improve and re-test. my motto is to stay agile. 
            I'm a Freelance Front-end Developer with over 1 years of experience. I'm from San Francisco.
             I code and create web elements for amazing people around the world. I like work with new people.
              New people new Experiences.    </p>
        {{!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> --}}

        {{!-- <img src="https://img.icons8.com/material/24/000000/github.png"/> --}}
        {{!-- <a href="https://icons8.com/icon/20675/github">GitHub icon by Icons8</a> --}}


      
      </div>
    </div>

    
  </div>
</div>