<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>header</h1>
    {{{body}}}
    <h1>footer1</h1>
  </body>
</html>
