<h1>Projects</h1><style>
    .card-img, .card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 200;
}
</style>


{{!-- Get Cards From getBootStrap :::  https://getbootstrap.com/docs/5.1/components/card/ --}}

<br>


<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="https://wallpaperaccess.com/full/3910939.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Angular Projects</h5>
        <p class="card-text">I am working in Angular form last two year and get knowledge. </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://wallpaperaccess.com/full/3909258.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">React Projects</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://c4.wallpaperflare.com/wallpaper/645/96/47/python-programming-programming-programming-language-code-hd-wallpaper-preview.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Python Projects</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkPh6-ftd-pHAIDp6m8K8_gDH36oipWSmYdw&usqp=CAU" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Web Development Projects</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://www.vhv.rs/dpng/d/570-5704298_header-web-development-web-design-hd-png-download.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Web Design Projects</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://i.pinimg.com/originals/94/22/55/94225502554457a1ff8f266464161756.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">UI/UX Projects</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>